body{
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=996&t=st=1697547498~exp=1697548098~hmac=b1fb662466136f65fa9ba6620616e072299e06910237b72bead1a943ddf35be2);
    background-repeat: no-repeat;
    background-size: cover;
}
